/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #4af;
  color: #fff;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  margin: 0px 0px 10px 0px;
  border-radius: 0px 0px 10px 10px;
  font-size: 17px;
  width: 33.3333333333%;
}

.tablink:hover {
  background-color: #7cf;
}
